In [5]:
import pandas as pd

In [9]:
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/AnyConv.com__Data.txt'
sales_prediction = pd.read_csv(filename)
sales_prediction.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [11]:
sales_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [60]:
sales_prediction['Item_Weight'].isna().head()
sales_prediction['Outlet_Size'].isna().head()

0    False
1    False
2    False
3     True
4    False
Name: Outlet_Size, dtype: bool

In [ ]:
weight_missing = sales_prediction['Item_Weight'].isna()
size_missing = sales_prediction['Outlet_Size'].isna()
sales_prediction.loc[~weight_missing,:]
sales_prediction.loc[~size_missing,:]

Sort item by the sales:

In [72]:
sales_prediction.sort_values(by=['Item_Outlet_Sales'], ascending=False).head(1)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7188           NCE42          NaN  ...  Supermarket Type3         13086.9648

[1 rows x 12 columns]

In [73]:
sales_prediction.sort_values(by=['Item_Outlet_Sales'], ascending=False).tail(1)

    Item_Identifier  Item_Weight  ...    Outlet_Type  Item_Outlet_Sales
906           DRK12          9.5  ...  Grocery Store              33.29

[1 rows x 12 columns]